* {
  font-family: "CaskaydiaCoveNerdFont", monospace;
}

body {
  font-family: "CaskaydiaCoveNerdFont", monospace;
}

.button {
  margin-bottom: 4px;
}

.workspace-button {
  margin-top: 4px;
}

.workspace-button-focused {
  border-color: #DDC7A1;
}
