@use "sass:string";

$base00: #292828;
$base01: #32302f;
$base02: #504945;
$base03: #665c54;
$base04: #bdae93;
$base05: #ddc7a1;
$base06: #ebdbb2;
$base07: #fbf1c7;
$base08: #ea6962;
$base09: #e78a4e;
$base0A: #d8a657;
$base0B: #a9b665;
$base0C: #89b482;
$base0D: #7daea3;
$base0E: #d3869b;
$base0F: #bd6f3e;

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

$fg-color: $base05;
$bg-color: gtkalpha($base01, 0.85);
$error: $base08;
$info: $base0D;
$warn: $base09;
$success: $base0B;

window.NotificationPopups {
  all: unset;
  font-family: "CaskaydiaCoveNerdFont", monospace;
}

eventbox.Notification {

  &:first-child>box {
    margin-top: 1rem;
  }

  &:last-child>box {
    margin-bottom: 1rem;
  }

  >box {
    min-width: 400px;
    border-radius: 13px;
    background-color: $bg-color;
    margin: .5rem 1rem;
    box-shadow: 2px 3px 8px 0 gtkalpha(black, .4);
    border: 1pt solid gtkalpha($fg-color, .03);
    font-family: "CaskaydiaCoveNerdFont", monospace;
    transition: background-color 0.2s ease;
  }

  &.critical>box {
    border: 1pt solid gtkalpha($error, .4);

    .header .app-name {
      color: gtkalpha($error, .8);
    }

    .header .app-icon {
      color: gtkalpha($error, .6);
    }
  }

  &.info>box {
    border: 1pt solid gtkalpha($info, .4);

    .header .app-name {
      color: gtkalpha($info, .8);
    }

    .header .app-icon {
      color: gtkalpha($info, .6);
    }
  }

  &.warning>box {
    border: 1pt solid gtkalpha($warn, .4);

    .header .app-name {
      color: gtkalpha($warn, .8);
    }

    .header .app-icon {
      color: gtkalpha($warn, .6);
    }
  }

  &.success>box {
    border: 1pt solid gtkalpha($success, .4);

    .header .app-name {
      color: gtkalpha($success, .8);
    }

    .header .app-icon {
      color: gtkalpha($success, .6);
    }
  }

  .header {
    padding: .5rem;
    color: gtkalpha($fg-color, 0.5);

    .app-icon {
      margin: 0 .4rem;
    }

    .app-name {
      margin-right: .3rem;
      font-weight: bold;

      &:first-child {
        margin-left: .4rem;
      }
    }

    .time {
      margin: 0 .4rem;
    }

    button {
      padding: .2rem;
      min-width: 0;
      min-height: 0;
      background: transparent;
      border: none;
      color: gtkalpha($fg-color, 0.6);

      &:hover {
        color: $base07;
      }
    }
  }

  separator {
    margin: 0 .4rem;
    background-color: gtkalpha($fg-color, .1);
  }

  .content {
    margin: 1rem;
    margin-top: .5rem;

    .summary {
      font-size: 1.2em;
      color: $fg-color;
    }

    .body {
      color: gtkalpha($fg-color, 0.8);
    }

    .image {
      border: 1px solid gtkalpha($fg-color, .02);
      margin-right: .5rem;
      border-radius: 9px;
      min-width: 100px;
      min-height: 100px;
      background-size: cover;
      background-position: center;
    }
  }

  .actions {
    margin: 1rem;
    margin-top: 0;

    button {
      margin: 0 .3rem;
      padding: .3rem .6rem;
      border-radius: 5px;
      background-color: gtkalpha($base03, .3);
      border: 1px solid gtkalpha($fg-color, .1);
      color: $fg-color;
      font-weight: 500;
      transition: all 0.15s ease-in-out;

      &:hover {
        background-color: gtkalpha($fg-color, 0.1);
        color: $base07;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
