// Gruvbox dark, hard — base16 renk tanımları
$base00: #1d2021; // background
$base01: #3c3836;
$base02: #504945;
$base03: #665c54;
$base04: #bdae93;
$base05: #d5c4a1; // foreground
$base06: #ebdbb2;
$base07: #fbf1c7;
$base08: #fb4934; // red
$base09: #fe8019; // orange
$base0A: #fabd2f; // yellow
$base0B: #b8bb26; // green
$base0C: #8ec07c; // aqua
$base0D: #83a598; // blue
$base0E: #d3869b; // purple
$base0F: #d65d0e; // brown

.Bar {
  font-family: "CaskaydiaCoveNerdFont", monospace;
  font-size: 14px;
  background: $base00;
  color: $base05;
  font-weight: bold;
  min-width: 50px;

  button {
    background-color: $base01;
    color: $base05;
    border-radius: 10px;
    margin: 4px;
    padding: 6px 10px;
    border: none;

    &:hover {
      background-color: $base03;
    }

    &.focused {
      background-color: $base0D;
      color: $base00;
      font-weight: bold;
      box-shadow: 0 0 0 2px $base05;
    }
  }
}

.Battery {
  background: $base01;
  color: $base05;
  border-radius: 6px;
  padding: 4px;
  font-weight: bold;

  >BatteryLevel {
    color: $base0B;
    background: $base01;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;

    &.low {
      color: $base08; // red
    }
  }
}

.corner {
  background-color: $base00;
  font-size: 5rem;
}
