$base00: #292828;
$base01: #32302f;
$base02: #504945;
$base03: #665c54;
$base04: #bdae93;
$base05: #ddc7a1;
$base06: #ebdbb2;
$base07: #fbf1c7;
$base08: #ea6962;
$base09: #e78a4e;
$base0A: #d8a657;
$base0B: #a9b665;
$base0C: #89b482;
$base0D: #7daea3;
$base0E: #d3869b;
$base0F: #bd6f3e;

.Bar {
  font-family: "CaskaydiaCoveNerdFont", monospace;
  font-size: 14px;
  background-color: $base00;
  color: $base05;
  font-weight: bold;
  min-width: 50px;
  padding: 6px;

  button {
    background-color: $base01;
    color: $base05;
    border-radius: 10px;
    margin: 4px;
    padding: 6px 10px;
    border: none;

    &:hover {
      background-color: $base03;
    }

    &.focused {
      background-color: $base0D;
      color: $base00;
      font-weight: bold;
      box-shadow: 0 0 0 2px $base06;
    }
  }
}

.Battery {
  background-color: $base01;
  color: $base05;
  border-radius: 10px;
  padding: 4px;
  font-weight: bold;
  min-width: 25px;

  BatteryLevel {
    color: $base0B;
    background-color: $base01;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 10px;

    &.low {
      color: $base08;
    }
  }
}

.Wifi {
  background-color: $base01;
  border-radius: 10px;
  min-width: 35px;
  min-height: 35px;
}

.AudioSlider {
  background-color: $base01;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 200px;

  slider {
    min-height: 10px;
    min-width: 10px;

    trough {
      background-color: $base02;
      border-radius: 5px;
    }

    slider {
      background-color: $base0D;
      border-radius: 5px;
    }
  }

  icon {
    margin-bottom: 10px;
    color: $base05;
  }
}

.corner {
  background-color: $base00;
  font-size: 5rem;
}
